#viz {
  width: 100%;
  height: 100%;
}

.city {
  r: 5;
  fill: red;
  stroke: black;
  stroke-opacity: 1;
}

.land {
  fill: lightgray;
  stroke: black;
  stroke-width: 1px;
}

.country {
  fill-opacity: 1;
  fill: lightgray;
  stroke-opacity: 0;
  stroke: white;
  stroke-width: 2px;
}