html,body {
  height: 100%;
  width: 100%;
  margin: 0;
}

.column {
  max-width: 960px;
  position: relative;
  display: block;
  margin: 0 auto;
  padding: 0 10px;
}

h1 {
  font-size: 46px;
  font-weight: 500;
  letter-spacing: -1px;
  margin: 0.1em 0;
}

#map {
  height: 100%;
  width: 100%;
  position: absolute;
}

.country {
  fill-opacity: .25;
  fill: #4682B4;
  stroke-opacity: 1;
  stroke: black;
  stroke-width: 2px;
}

.country-gray {
  opacity: .25;
  fill: lightgray;
  stroke: lightgray;
  stroke-width: 1;
}

.country-red {
  fill-opacity: .25;
  fill: darkred;
  stroke: black;
  stroke-width: 1;
}

.capital {
  fill: white;
  stroke: black;
  stroke-width: 2px;
}

.fletes {
    stroke: black;
    stroke-width: 1px;
    fill: none;
}