#viz {
  width: 100%;
  height: 100%;
}

.city {
  r: 5;
  fill: red;
  stroke: black;
  stroke-opacity: 1;
}

.countries {
  fill: lightgray;
  stroke: black;
  stroke-width: 1px;
}

.oceans {
  fill: lightblue;
  stroke: black;
  stroke-width: 1px;
}

.fletes {
    stroke: black;
    stroke-width: 1px;
    fill: none;
}